body{
  margin: 0;
  padding: 0;
  background: #00C9FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Avenir", sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

h1 {
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
}

h2 {
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 100%;
  width: 35%;
  font-size: 20px;
  line-height: 50px;
}

.stripe {
  background:white;
  height: 50px;
  margin: 0 auto;
  line-height:50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.score {
  background-color: white;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.game {
  margin: 40px auto;
}

.number {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  line-height: 100px;
  text-align: center;
  float: left;
  color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.number:hover{
  border: 2px solid rgb(255, 255, 255);
}

.fadein {
  transition:  0.05s;
}

#myscore {
  float: left;
  padding-left: 20px;
}

#opponentscore {
  float: right;
  padding-right: 20px;
}

#mypt {
  color: #168484;
  width:20%;
  float: right;
}

#aipt {
  color: #EB4E4E;
  width:20%;
  float: left;
}
